<div class="card card-block">
    <div class="card-body">
        <nav class="navbar navbar-dark bg-primary beer mb-1" [ngClass]="{'bg-danger': inDanger(), 'bg-success': !inDanger()}">
            <h1 class="navbar-brand mb-0 lion">
                <ng-content select="metric-title ngy"></ng-content>
            </h1>
        </nav>
        <h4 class="card-title">{{value}}/{{max}} ({{value/max | percent:'1.0-2'}})</h4>
        <p class="card-text">
            <ng-content select="metric-description"></ng-content>
        </p>
            <ngb-progressbar [value]="value" [max]="max" [type]="inDanger() ?'danger' : 'success'">
            </ngb-progressbar> 
    </div>
</div>